<div>

    <h2>Uređaj za mušterije id : {{deviceId}}</h2>
    <ul ng-repeat="o in offers">
        <li>
            <p>{{o.name}}: {{o.description}}</p>
            {{o.price}}

        </li>
    </ul>

    <button type="button" ng-click="placeOrder()" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-send"></span> Place order </button>

    <table class="table table-hover table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th>Order id</th>
                <th>Time ordered</th>
                <th>Time confirmed</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in myOrders | orderBy : 'id' : true  ">
                <td>{{order.id}}</td>
                <td>{{order.timeOrdered | date :'HH:mm:s'}}</td>
                <td>{{order.timeConfirmed | date :'HH:mm:s'}}</td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.orderState}}</td>
                <td>
                    <div ng-if=order.orderState==="pending">
                        <button type="button" data-id={{order.id}} ng-click="cancelOrder(order.id)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Cancel order
                        </button>
                </td>
                </div>
            </tr>
        </tbody>
    </table>
</div>